@import '../Global_styles_variabels/Global.scss';
.Menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 83%;
    padding-top: 32px;
    align-items: center;
    .Pull__Right{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transform: translateY(-30%);

        .Search__Icon{
            background-color: #222222;
            border-radius: 50%;
            padding: 6px 11px;
            margin-left: 20px;
            color: $mainColor;
        }

        .LogIn{
            background-color: $Green;
            color: $mainColor;
            padding: 5px 28px;
            border-radius: 20px;
            text-decoration: none;
        }
    }
    .Center{
        
        ul{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        
        ul li{
            padding: 0 25px;
            list-style: none;
        }
        ul li a{
            color: $TextColor;
            text-decoration: none;
        }
    }

    .pull___Left{
        display: flex;
        flex-direction: row-reverse;
        font-size: 20px;
        align-items: center;
        img{
            width: 65px;
            margin-right: 7px;
            transform: translateY(-5px);
        }

        .Food{
            font-weight: bolder;
            letter-spacing: 0.5rem;
            color: $TextColor;
        }

        .Fusion{
            letter-spacing: 0.6rem;
            font-weight: bold;
            font-size: 9px;
            transform: translateY(-5px);
            color:$TextColor;
        }
    }

}

// Respansive
@media only screen and (max-width:1200px){
    .Menu{
        width: 100%;
    }
}

@media only screen and (max-width:952px){
    .Menu{
        margin-left: 40px;
    }
}