@import '../Global_styles_variabels/Global.scss';

.Main__Header__Wrapper{
    display: flex;

    .Title__1{
        font-weight: bold;
        h1{
            font-size: 4.5rem;
            color: $TextColor;
        }
    }
    
    .Title__2{
        h1{
            font-size: 4.5rem;
            color: $TextColor
        }
    }
    
    .Main__Header__Subtitle{
        h4{
            letter-spacing: 0.6rem;
            color: #444444;
        }
    }
    
    .options__Wrapper{
        display: flex;
    }
    
    .Main__Header__Input{
        width: 285px;
        border-radius: 40px;
        border: none;
        height: 55px;
        padding-left: 30px;
    }

    .Main__Header__Button{
        width: 80px;
        height: 45px;
        background-color: $Green;
        border: none;
        border-radius: 45px;
        transform: translateX(-85px);
    }
}



